extends layout.pug

block content
    h2 #{title}
    br
    table
        for author in authors
            tr
                td #{author.name}
                td #{author.profile}
                td
                    a(href='/author/update?id=' + author.id) update
                td
                    form(action='/author/delete', method='post')
                        input(type='hidden', name='id', value=author.id)
                        input(type='submit', value='delete')
    table   

    | !{form}
    
    style.
        table {
            border-collapse: collapse;
        }
        td {
            border : 1px solid black;
        }